<section id="shoppingCart">
    <section style="text-align: center;">
        <p style="font-size:25px;">Shopping List</p>
    </section>
    {{#if shoppingCart}}
        <div class="row" id="listing">
            <div class="box_title">
                <div class="not_for_phone" style="width: 160px;">
        
                </div>
        
                <div>
                    <p>Movie Title</p>
                </div>
                <div>
                    <p>Purchase Type</p>
                </div>
        
                <div>
                    <p>Price</p>
                </div>
            </div>
            {{#each shoppingCart}}
                <div class="row" id="box_listing">
                    <img class="not_for_phone" src="/upload/{{this.movie.large_picture}}">
                    <div>
                        <p>{{this.movie.movie_title}}</p>
                    </div>
                    <div>
                        <p>{{this.rentOrBuy}}</p>
                    </div>

                    <div>
                        {{#if (is_rent this.rentOrBuy)}}
                            <p>${{this.movie.price_to_rent}}</p>
                        {{else}}
                            <p>${{this.movie.price_to_purchase}}</p>
                        {{/if}}
                    </div>           
                </div>
            {{/each}}
        
            <div id="sum_area" style="">
                <div>
                    <p>Sum:</p>
                </div>
        
                <div>
                    <p>${{sum}}</p>
                </div>
            </div>
        
        </div>
        <div class="buttons_area">
            {{!-- <button type="reset" id="clearBtn" class="btn btn-secondary" style="margin-right: 30px;">Clear</button> --}}
            <a href="/movie/listing/all"><input type="button" value="get more movies" class="btn btn-primary big_btn"  /></a>
            <a href="/user/clearOrder"><input type="button" value="clear" class="btn btn-danger small_btn"  /></a>
            <a href="/user/confirmOrder"><input type="button" value="confirm" class="btn btn-success small_btn"  /></a>
        </div>
    
    {{else}}
        <p style="color:red; font-size:large; text-align:center;">There is nothing in your shopping cart yet!</p>
    {{/if}}


   
</section>