<section>
     <div style="height:400px;"></div>
    <!-- Modal credit to bootstrap-->
    <div class="modal fade" id="signInModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sign In</h5>
                    <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="signIn" action="/user/signIn" method="POST">
                        {{#if error_2}}
                            <p style="color:red; font-size:0.8em;">{{error_2}}</p>
                        {{/if}} 
                        email <input id="username_signIN" name="email" tabindex="1" value={{email}}>
                        {{#if error_0}}
                            <p style="color:red; font-size:0.8em;">{{error_0}}</p>
                        {{/if}}  
                        Password<input id="password_signIN" name="password" type="password"
                            autocomplete="current-password"="3" tabindex="2" value={{password}}>
                        {{#if error_1}}
                            <p style="color:red; font-size:0.8em;">{{error_1}}</p>
                        {{/if}}  
                        <input type="hidden" name="form_name" value ="signIn"/>  
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary">Clear</button>
                            <input type="submit" class="btn btn-primary" />
                        </div>
                        <div style="display: flex; justify-content: space-between;padding:0.75rem">
                            <span>Don't have an account?</span><a href="/register"> <input class="btn btn-success" style="margin-left:auto" value="Sign UP"/> </a>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div>
    <!-- Modal credit to bootstrap-->
</section>